GameStore.Frontend/bin/Debug/net8.0/GameStore.Frontend.dll
GameStore.Frontend/bin/Debug/net8.0/GameStore.Frontend.exe
GameStore.Frontend/bin/Debug/net8.0/GameStore.Frontend.pdb
GameStore.Frontend/bin/Debug/net8.0/GameStore.Frontend.staticwebassets.runtime.json
GameStore.Frontend/obj/Debug/net8.0/apphost.exe
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.AssemblyInfo.cs
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.AssemblyInfoInputs.cache
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.csproj.FileListAbsolute.txt
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.dll
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.genruntimeconfig.cache
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.pdb
GameStore.Frontend/obj/Debug/net8.0/GameStore.Frontend.sourcelink.json
GameStore.Frontend/obj/Debug/net8.0/staticwebassets.build.json
GameStore.Frontend/obj/Debug/net8.0/staticwebassets.development.json
GameStore.Frontend/obj/Debug/net8.0/staticwebassets.pack.json
GameStore.Frontend/obj/Debug/net8.0/ref/GameStore.Frontend.dll
GameStore.Frontend/obj/Debug/net8.0/refint/GameStore.Frontend.dll
